{% from "_formhelpers.html" import render_field %}

<p>
	<h2>Pedido</h2>
	{{ render_field(form.cliente) }}
	{{ render_field(form.descricao) }}
	{{ render_field(form.valor) }}
	{{ render_field(form.data_entrega) }}
	{{ render_field(form.pago) }}
</p>

<p>
	<h2>Produ&ccedil;&atilde;o</h2>
	{{ render_field(form.producao.arte_pronta) }}
	{{ render_field(form.producao.impresso) }}
	{{ render_field(form.producao.montado) }}
</p>

<p>
	<h2>Entrega</h2>
	{{ render_field(form.entrega.enviado) }}
	{{ render_field(form.entrega.recebido) }}
</p>

<p>
	<input type='submit' value='Salvar'>
	<input type='reset' value='Limpar'>
<p>

<script type="text/javascript">
	$(document).ready(function () {
		$("#data_entrega").datepicker();
	});
</script>