<p>
	<h2>Pedido</h2>
	Cliente: <a href='/cliente/{{ pedido.cliente.key() }}'>{{ pedido.cliente.nome }}</a></br>
	Descri&ccedil;&atilde;o: {{ pedido.descricao }}</br>
	Valor: R$ {{ pedido.valor }}</br>
	Entrega: {{ pedido.data_entrega|format_date }}</br>
	Pago: {% if pedido.pago %} Sim {% else %} N&atilde;o {% endif %}
</p>

<p>
	<h2>Produ&ccedil;&atilde;o</h2>
	Arte Pronta: {% if pedido.producao.arte_pronta %} Sim {% else %} N&atilde;o {% endif %}</br>
	Impresso: {% if pedido.producao.impresso %} Sim {% else %} N&atilde;o {% endif %}</br>
	Montado: {% if pedido.producao.montado %} Sim {% else %} N&atilde;o {% endif %}
</p>

<p>
	<h2>Entrega</h2>
	Enviado: {% if pedido.entrega.enviado %} Sim {% else %} N&atilde;o {% endif %}</br>
	Recebido: {% if pedido.entrega.recebido %} Sim {% else %} N&atilde;o {% endif %}
</p>