{% extends "layout.html" %}

{% block title %} pedidos {% endblock %}

{% block content %}

<div>Editar Pedido</div>
</br>
<div>
	<form action='/pedido/{{ pedido.key() }}/editar' method='POST'>
		{% include '_cadastro_pedido.html' %}
	</form>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#cliente").val("{{ pedido.cliente.key() }}");
		$("#descricao").val("{{ pedido.descricao }}");
		$("#valor").val("{{ pedido.valor }} ");
		$("#data_entrega").val($.format.date(new Date("{{ pedido.data_entrega }}" + " 00:00:00"), "dd/MM/yyyy"));
		{% if pedido.pago %}
			$("#pago").attr("checked", "checked");
		{% endif %}
		{% if pedido.producao.arte_pronta %}
			$("#arte_pronta").attr("checked", "checked");
		{% endif %}
		{% if pedido.producao.impresso %}
			$("#impresso").attr("checked", "checked");
		{% endif %}
		{% if pedido.producao.montado %}
			$("#montado").attr("checked", "checked");
		{% endif %}
		{% if pedido.entrega.enviado %}
			$("#enviado").attr("checked", "checked");
		{% endif %}
		{% if pedido.entrega.recebido %}
			$("#recebido").attr("checked", "checked");
		{% endif %}
	});
</script>

{% endblock %}
