<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <link type="text/css" rel="stylesheet" href="/static/main.css" />
        <link type="text/css" rel="stylesheet" href="/static/jquery-ui-1.8.16.custom.css" />
        <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/static/ui.datepicker-pt-BR.js"></script>
        <script type="text/javascript" src="/static/jquery-ui-1.8.16.custom.min.js"></script>
        <title>MicroERP - {% block title %} {% endblock %}</title>
    </head>
    <body id="">
		<div class="menu">
			<span>&nbsp;</span>
			<a href='/'>In&iacute;cio</a>
			<span>|</span>
			<a href='/cliente'>Clientes</a>
			<span>|</span>
			<a href='/pedido'>Pedidos</a>
		</div>
		</br>
		<div class="message">
			{% with messages = get_flashed_messages() %}
		  		{% if messages %}
		    		<ul class=flashes>
		    			{% for message in messages %}
		      			<li>{{ message }}</li>
		    			{% endfor %}
		    		</ul>
		  		{% endif %}
			{% endwith %}
		</div>
		<div class="content">
        	{% block content %}
        	{% endblock %}
		</div>
    </body>
</html>
