{% extends "layout.html" %}

{% block title %} pedidos {% endblock %}

{% block content %}

<h1>Listar Pedidos</h1>

<input type="checkbox" id="mostrar_finalizados" checked>Mostrar Pedidos Finalizados

<table>
	<tr>
		<th>Entrega</th>
		<th>Valor (R$)</th>
		<th>Cliente</th>
		<th>Finalizado?</th>
		<th class="action_column">&nbsp;</th>
		<th class="action_column">&nbsp;</th>
	</tr>
	{% for pedido in pedidos %}
		<tr class="{% if pedido.finalizado() %} pedido_finalizado {% endif %}">
			<td><a href='/pedido/{{ pedido.key() }}'>{{ pedido.data_entrega|format_date }}</a></td>
			<td>{{ pedido.valor }}</td>
			<td><a href='/cliente/{{ pedido.cliente.key() }}'>{{ pedido.cliente.nome }}</a></td>
			<td>{% if pedido.finalizado() %} Sim {% else %} N&atilde;o {% endif %}</td>
			<td><a href='/pedido/{{ pedido.key() }}/editar'>Editar</a></td>
			<td><a href='/pedido/{{ pedido.key() }}/excluir'>Excluir</a></td>
		</tr>
	{% endfor %}
</table>

</br>

<a href='/pedido/novo'>Novo Pedido</a>

{% endblock %}

<script type="text/javascript">
    $("#mostrar_finalizados").click(function () {
        var show = $("#mostrar_finalizados").is(':checked');
        if (show) {
            $(".pedido_finalizado").each(function () {
                $(this).css("display", "block");
            });
        } else {
            $(".pedido_finalizado").each(function () {
                $(this).css("display", "none");
            });
        }
    });
</script>
