{% extends "layout.html" %}

{% block title %} clientes {% endblock %}

{% block content %}

<h1>Listar Clientes</h1>

<table>
	<tr>
		<th>Nome</th>
		<th>Email</th>
		<th>Celular</th>
		<th class="action_column">&nbsp;</th>
		<th class="action_column">&nbsp;</th>
	</tr>
	{% for cliente in clientes %}
		<tr>
			<td><a href='/cliente/{{ cliente.key() }}'>{{ cliente.nome }}</a></td>
			<td>{{ cliente.email }}</td>
			<td>{{ cliente.celular }}</td>
			<td><a href='/cliente/{{ cliente.key() }}/editar'>Editar</a></td>
			<td><a href='/cliente/{{ cliente.key() }}/excluir'>Excluir</a></td>
		</tr>
	{% endfor %}
</table>

</br>

<a href='/cliente/novo'>Novo Cliente</a>

{% endblock %}
