{% extends "base.html" %}

{% block title %} clientes {% endblock %}

{% block content %}

<div>Novo Cliente</div>
</br>
<div>
	<form action='/cliente/novo' method='POST'>
		<label for='nome'>Nome</label>
		<input type='text' id='nome' name='nome' value=''></br>
		<label for='telefone'>Telefone</label>
		<input type='text' id='telfone' name='telefone' value=''></br>
		<label for='celular'>Celular</label>
		<input type='text' id='celular' name='celular' value=''></br>
		<label for='email'>Email</label>
		<input type='text' id='email' name='email' value=''></br>
		<label for='im'>IM</label>
		<input type='text' id='im' name='im' value=''></br>
		<label for='endereco'>Endere&ccedil;o</label>
		<input type='text' id='endereco' name='endereco' value=''></br>
		<label for='observacao'>Observa&ccedil;&atilde;o</label>
		<input type='text' id='observacao' name='observacao' value=''></br>
		<input type='submit' value='Salvar'>
		<input type='reset' value='Limpar'>
	</form>
</div>

{% endblock %}
