body {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #E0ECF8;
}

h1 {
	font-size: 16px;
}

h2 {
	font-size: 14px;
}

table {
	font-size: 14px;
	border-width: 1px;
	border-color: black;
	border-style: dotted;
}

th {
	background-color: #81BEF7;
}

label {
   display: block;
   float: left;
   padding-top: 3px;
}

#menu {
	line-height:2em;
	vertical-align:middle;
	font-size: 16px;
	background-color: #81BEF7;
}

#message {
	color: red;	
}

#content {
}

#footer {
	text-align:right;
	line-height:2em;
	vertical-align:middle;
	font-size: 10px;
	font-weight: bold;
	background-color: #81BEF7;
}

.action_column {
	background-color: #E0ECF8;
}

.pedido_finalizado {
	background-color: #F5D0A9;	
}